/* styles.css */

/* image buffer */
.image img {
    margin: 10px; /* Adjust this value to increase or decrease the buffer */
}

/* zeffy forms */
.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 3800px; /* kept the height from the second set */
    padding-top: 500px; /* kept the padding-top from the second set */
}

.iframe-container iframe {
    position: absolute;
    border: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* styles.css */
#auxiliary {
    border-collapse: collapse;
    display:table;
    width: 90%;
}

#auxiliary td, #auxiliary th {
    border: 0px solid #ddd;
    padding: 8px;
    font-size: 20px;
}

#auxiliary tr:hover {background-color: #ddd;}

#auxiliary th {
    padding-top: 12px;
    padding-bottom: 1px;
    text-align: left;
    background-color: #D8EBF1;
    color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
}

/* calendar */
.calendar-container {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.calendar-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.rental {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
.rental td {
    font-size: 18px;
    vertical-align: center;
    border: 0px solid #ddd;
    padding: 12px;
  }

  .center-text {
    text-align: center;
}

.image-size {
    width: 500px;
    height: 333px;
}

.center-text {
    text-align: center;
}
