<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
</style>
</head>
<body>

<div class="slideshow-container">

  <div class="mySlides fade">
        <!-- <div class="numbertext">31 / 34</div> -->
        <img src="/_lfs/images/cc_album/lake1.jpg" style="width:100%">
        <!-- <div class="text">Caption Three</div> -->
  </div>
  <div class="mySlides fade">
        <!-- <div class="numbertext">32 / 34</div> -->
        <img src="/_lfs/images/cc_album/lake2.jpg" style="width:100%">
        <!-- <div class="text">Caption Three</div> -->
    </div>
  <div class="mySlides fade">
    <!-- <div class="numbertext">1 / 34</div> -->
    <img src="/_lfs/images/cc_album/cc_album_01.jpeg" style="width:100%">
    <!-- <div class="text">Caption Text</div> -->
  </div>

  <div class="mySlides fade">
    <!-- <div class="numbertext">2 / 34</div> -->
    <img src="/_lfs/images/cc_album/cc_album_02.jpeg" style="width:100%">
    <!-- <div class="text">Caption Two</div> -->
  </div>

  <div class="mySlides fade">
    <!-- <div class="numbertext">3 / 34</div> -->
    <img src="/_lfs/images/cc_album/cc_album_03.jpeg" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>

  <div class="mySlides fade">
    <!-- <div class="numbertext">4 / 34</div> -->
    <img src="/_lfs/images/cc_album/cc_album_04.jpg" style="width:100%">
    <div class="text">Caption Three</div>
  </div>

  <div class="mySlides fade">
    <!-- <div class="numbertext">5 / 34</div> -->
    <img src="/_lfs/images/cc_album/cc_album_05.jpeg" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>

  <div class="mySlides fade">
    <!-- <div class="numbertext">6 / 34</div> -->
    <img src="/_lfs/images/cc_album/cc_album_06.jpeg" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>

  <div class="mySlides fade">
    <!-- <div class="numbertext">7 / 34</div> -->
    <img src="/_lfs/images/cc_album/cc_album_07.jpg" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>

  <div class="mySlides fade">
    <!-- <div class="numbertext">8 / 34</div> -->
    <img src="/_lfs/images/cc_album/cc_album_08.jpg" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>

  <div class="mySlides fade">
    <!-- <div class="numbertext">9 / 34</div> -->
    <img src="/_lfs/images/cc_album/cc_album_09.jpg" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>

  <div class="mySlides fade">
    <!-- <div class="numbertext">10 / 34</div> -->
    <img src="/_lfs/images/cc_album/cc_album_10.jpg" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>

  <div class="mySlides fade">
    <!-- <div class="numbertext">11 / 34</div> -->
    <img src="/_lfs/images/cc_album/cc_album_11.jpg" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>

  <div class="mySlides fade">
    <!-- <div class="numbertext">12 / 34</div> -->
    <img src="/_lfs/images/cc_album/cc_album_12.jpg" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>

  <div class="mySlides fade">
    <!-- <div class="numbertext">13 / 34</div> -->
    <img src="/_lfs/images/cc_album/cc_album_13.jpeg" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>

  <div class="mySlides fade">
    <!-- <div class="numbertext">14 / 34</div> -->
    <img src="/_lfs/images/cc_album/cc_album_14.jpeg" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>

  <div class="mySlides fade">
    <!-- <div class="numbertext">15 / 34</div> -->
    <img src="/_lfs/images/cc_album/cc_album_15.jpeg" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>

  <div class="mySlides fade">
    <!-- <div class="numbertext">16 / 34</div> -->
    <img src="/_lfs/images/cc_album/cc_album_16.jpeg" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>

  <div class="mySlides fade">
    <!-- <div class="numbertext">17 / 34</div> -->
    <img src="/_lfs/images/cc_album/cc_album_17.jpeg" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>

  <div class="mySlides fade">
    <!-- <div class="numbertext">18 / 34</div> -->
    <img src="/_lfs/images/cc_album/cc_album_18.jpeg" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>

  <div class="mySlides fade">
    <!-- <div class="numbertext">19 / 34</div> -->
    <img src="/_lfs/images/cc_album/cc_album_19.jpeg" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>

  <div class="mySlides fade">
    <!-- <div class="numbertext">20 / 34</div> -->
    <img src="/_lfs/images/cc_album/cc_album_20.jpg" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>

  <div class="mySlides fade">
    <!-- <div class="numbertext">21 / 34</div> -->
    <img src="/_lfs/images/cc_album/cc_album_21.jpg" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>

  <div class="mySlides fade">
    <!-- <div class="numbertext">22 / 34</div> -->
    <img src="/_lfs/images/cc_album/cc_album_22.jpg" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>

  <div class="mySlides fade">
    <!-- <div class="numbertext">23 / 34</div> -->
    <img src="/_lfs/images/cc_album/cc_album_23.jpg" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>

  <div class="mySlides fade">
    <!-- <div class="numbertext">24 / 34</div> -->
    <img src="/_lfs/images/cc_album/cc_album_24.jpg" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>

  <div class="mySlides fade">
    <!-- <div class="numbertext">25 / 34</div> -->
    <img src="/_lfs/images/cc_album/cc_album_25.jpg" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>

  <div class="mySlides fade">
    <!-- <div class="numbertext">26 / 34</div> -->
    <img src="/_lfs/images/cc_album/cc_album_26.jpg" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>

  <div class="mySlides fade">
    <!-- <div class="numbertext">27 / 34</div> -->
    <img src="/_lfs/images/cc_album/cc_album_27.jpg" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>

  <div class="mySlides fade">
    <!-- <div class="numbertext">28 / 34</div> -->
    <img src="/_lfs/images/cc_album/cc_album_30.jpg" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>

  <div class="mySlides fade">
    <!-- <div class="numbertext">29 / 34</div> -->
    <img src="/_lfs/images/cc_album/cc_album_31.jpg" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>

  <div class="mySlides fade">
    <!-- <div class="numbertext">30 / 34</div> -->
    <img src="/_lfs/images/cc_album/cc_album_32.jpg" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>

  <div class="mySlides fade">
    <!-- <div class="numbertext">33 / 34</div> -->
    <img src="/_lfs/images/cc_album/lake3.jpg" style="width:100%">
    <!-- <div class="text">Caption Three</div> -->
  </div>

<a class="prev" onclick="plusSlides(-1)">❮</a>
<a class="next" onclick="plusSlides(1)">❯</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
  <span class="dot" onclick="currentSlide(5)"></span>
  <span class="dot" onclick="currentSlide(6)"></span>
  <span class="dot" onclick="currentSlide(7)"></span>
  <span class="dot" onclick="currentSlide(8)"></span>
  <span class="dot" onclick="currentSlide(9)"></span>
  <span class="dot" onclick="currentSlide(10)"></span>
  <span class="dot" onclick="currentSlide(11)"></span>
  <span class="dot" onclick="currentSlide(12)"></span>
  <span class="dot" onclick="currentSlide(13)"></span>
  <span class="dot" onclick="currentSlide(14)"></span>
  <span class="dot" onclick="currentSlide(15)"></span>
  <span class="dot" onclick="currentSlide(16)"></span>
  <span class="dot" onclick="currentSlide(17)"></span>
  <span class="dot" onclick="currentSlide(18)"></span>
  <span class="dot" onclick="currentSlide(19)"></span>
  <span class="dot" onclick="currentSlide(20)"></span>
  <span class="dot" onclick="currentSlide(21)"></span>
  <span class="dot" onclick="currentSlide(22)"></span>
  <span class="dot" onclick="currentSlide(23)"></span>
  <span class="dot" onclick="currentSlide(24)"></span>
  <span class="dot" onclick="currentSlide(25)"></span>
  <span class="dot" onclick="currentSlide(26)"></span>
  <span class="dot" onclick="currentSlide(27)"></span>
  <span class="dot" onclick="currentSlide(28)"></span>
  <span class="dot" onclick="currentSlide(29)"></span>
  <span class="dot" onclick="currentSlide(30)"></span>
  <span class="dot" onclick="currentSlide(31)"></span>
  <span class="dot" onclick="currentSlide(32)"></span>
  <span class="dot" onclick="currentSlide(33)"></span>
</div>

<script>
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
</script>

</body>
</html>
